/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 100%;
  padding: 1em;
  border-bottom: 1px solid #adb5bd;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .header {
    max-width: 100%;
    padding: 0.5em;
  }
}

.header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 1em;
}

.header .logo img {
  height: 2em;
}

@media only screen and (max-width: 768px) {
  .header .logo img {
    height: 1.5em;
  }
}

.header .menuItem {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .header .menuItem {
    font-size: 0.5em;
  }
}

.header .menuItem div {
  padding-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  white-space: nowrap;
}

.header .menuItem div :hover {
  opacity: 0.6;
}

@media only screen and (max-width: 768px) {
  .header .menuItem div {
    padding-right: 0.5em;
  }
}

.header .menuItem div:nth-child(2) {
  position: relative;
  width: 12em;
}

@media only screen and (max-width: 1024px) {
  .header .menuItem div:nth-child(2) {
    width: 9em;
  }
}

@media only screen and (max-width: 768px) {
  .header .menuItem div:nth-child(2) {
    width: 7em;
  }
}

.header .menuItem div:nth-child(2) img {
  position: absolute;
  top: -0.2em;
}

@media only screen and (max-width: 768px) {
  .header .menuItem div:nth-child(2) img {
    top: 0em;
  }
}

.header .menuItem div:nth-child(2) p {
  width: 9em;
  text-align: right;
}

.header .menuItem img {
  height: 1.5em;
}

@media only screen and (max-width: 768px) {
  .header .menuItem img {
    height: 1em;
  }
}

.content {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.content .carousel .owl-nav {
  width: 100%;
  position: absolute;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .content .carousel .owl-nav {
    top: 100px;
  }
}

@media only screen and (max-width: 480px) {
  .content .carousel .owl-nav {
    top: 50px;
  }
}

.content .carousel .owl-nav span {
  padding: 1em 1.5em;
  border-radius: 30px;
  background-color: #dee2e6;
  margin: 0 1em;
}

.content .carousel .owl-nav span :hover {
  width: inherit;
  height: inherit;
}

@media only screen and (max-width: 768px) {
  .content .carousel .owl-nav span {
    padding: 0.5em 1em;
  }
}

@media only screen and (max-width: 480px) {
  .content .carousel .owl-nav span {
    padding: 0em 0.5em;
  }
}

.content .part {
  margin-top: 3em;
}

.content .part .title {
  text-align: center;
  font-weight: 600;
}

.content .part .title img {
  height: 50px;
}

.content .part .title span {
  border-bottom: 1px solid #8A2B2B;
}

.content .part .article {
  text-align: left;
  margin: 0 auto;
  font-size: 0.9em;
  padding: 2em 0;
  width: 350px;
}

@media only screen and (max-width: 480px) {
  .content .part .article {
    font-size: 0.8em;
    width: 280px;
  }
}

.content .part .article p {
  line-height: 2em;
}

.content .part .article .right {
  padding-left: 3em;
}

.footer {
  text-align: center;
  margin: 2em auto;
  border-top: 1px solid black;
  padding-top: 2em;
}

@media only screen and (max-width: 480px) {
  .footer {
    font-size: 0.8em;
  }
}

.footer .linkLogo {
  width: 100%;
  float: left;
  margin: 2em 0;
}

@media only screen and (max-width: 480px) {
  .footer .linkLogo img {
    width: 40px;
  }
}
/*# sourceMappingURL=profolio.css.map */